@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hover-effect{
  padding: 5px 15px;
}
.hover-effect:hover {
  border-radius: 10px;
   background-color: #bbbbbb7a;
}
